extends main

block link
  link(rel="stylesheet", href="/components/bootstrap/docs/assets/css/bootstrap.css")
  link(rel="shortcut icon", href="/static/favicon.ico")

block script
  script(src="/components/requirejs/require.js", data-main="/static/js/require-main")

block body

  div.container-fluid

    block header
      div.navbar
        div.navbar-inner
          div.pull-left
            block join

    block content

    block footer
      div.row-fluid
        div.footer default footer

    block js-templates
