doctype 5
html(xmanifest='cache.manifest')
  head

    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    title #{title}

    block link

    block script

  body

    block body

    block stat
