extends layouts/default

block content
  h2 Index here! viewed #{views}

block some
  div div

block join

  div.row-fluid
    div.span-12
      div#e-join

  script#t-join(type='text/template')
      <% if (!_.isEmpty(user)) { %>
      form(method='POST', enctype='multipart/form-data')
        div Hello <%= user.email %>
        div
          input#i-files(name='files[]', type='file', multiple)
        div
          button.btn.btn-primary#upload upload
        div
          div#e-filelist
        div
          button.btn.btn-primary.logout logout
      <% } else { %>
      form(method='POST')
        div.control-group
          div.controls.input-prependx
            <!-- span.add-on &#9993; -->
            input.input-xlarge(type="text", name="email", placeholder="email")
            span.help-inline
        div.control-group
          div.controls.input-prependx
            <!-- span.add-on &#9679; -->
            input.input-xlarge(type="password", name="password", placeholder="password")
            span.help-inline
        button.btn.btn-primary.join join
      <% } %>

  script#t-file(type='text/template')
    div.span3(id!="<%= id %>")
      div.name <%= name %>
      div.type <%= type %>
      div.size <%= (size / (1024 * 1024)).toFixed(2) %> Mb
      <% if (typeof _id !== 'undefined') { %>
      div.btn.btn-mini.delete-file(data-id!="<%= _id %>") delete
      <% } else { %>
      div.progress
        div.bar.bar-info
        div.bar.bar-success
      <% } %>
