extends layouts/default

block join
  div.pull-right#e-join

block content

  div.row-fluid#e-filelist
  div.row-fluid
    h2 Index here! viewed #{views}

block js-templates

  script#t-upload(type='text/template')
    div.row-fluid#e-upload
      input#i-files(name='files[]', type='file', multiple)

  script#t-join(type='text/template')
    <% if (!_.isEmpty(user)) { %>
    form(method='POST', enctype='multipart/form-data')
      div Hello <%= user.email %>
        button.btn.btn-primary.logout logout
    <% } else { %>
    form.well(method='POST')
      div.control-group
        div.controls.input-prependx
          <!-- span.add-on &#9993; -->
          input.input-xlarge(type="text", name="email", placeholder="email")
          span.help-inline
      div.control-group
        div.controls.input-prependx
          <!-- span.add-on &#9679; -->
          input.input-xlarge(type="password", name="password", placeholder="password")
          span.help-inline
      button.btn.btn-primary.join join
    <% } %>

  script#t-file(type='text/template')
    div.el(id!="<%= id %>")
      div.name <%= name %>
      div.type <%= type %>
      div.size <%= (size / (1024 * 1024)).toFixed(2) %> Mb
      <% if (typeof _id !== 'undefined') { %>
      div.progress
        div.bar.bar-info.download-file(style="width:100%", data-id!="<%= _id %>") download
      div.btn.btn-mini.delete-file(data-id!="<%= _id %>") delete
      <% } else { %>
      div.progress
        div.bar.bar-info
        div.bar.bar-success
      div.btn.btn-mini.cancel-file(data-id!="<%= id %>") cancel
      <% } %>
