#e-filelist .el {
  display: inline-block;
  width: 31%;
  margin: 2% 2% 0 0;
}

@media only screen and (max-width: 320px) {
  #e-filelist .el {
    width: 98%;
    margin: 2% 2% 0 0;
  }
}

@media only screen and (min-width: 321px) and (max-width: 640px) {
  #e-filelist .el {
    width: 46%;
    margin: 2% 2% 0 0;
  }
}
